nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 30px 40px;
  opacity: 1;
  animation: ease 0.3s jumpin forwards;
  animation-delay: 2.4s;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

body {
  --def: #455F73; 	
	--inv: #fff;
  background-color: #FEFEFC;
}

.profile-card {
  min-height: 70%;
  flex-direction: column;
}
.tech-icon {
  width:60px;
  justify-content: center;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top:15px;
}

.project-card {
  min-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #8B9AA6;
}

.project-card-reverse {
  justify-content: center;
  min-width: 100%;
    display: flex;
    margin: 0;
    background-color: #E9EBEC;

}

.card-img-overlay {
  padding: 0;
}

#root > div > div.project-card-reverse.container > div {
  padding: 2%;
  flex-direction: row-reverse;
}

#root > div > div.project-card.container > div.row {
  padding: 2%;
  flex-direction: row;
}

.text-white {
  color: black!important;
}

.card-title {
  width: 100%;
  margin: 0;
  padding-top: 2%;
}
.card-text, .card-title {
  padding-left: 5%;
  padding-bottom: 2%;
  background: none;
  backdrop-filter: blur(3px) saturate(100%) contrast(45%) brightness(130%);
}

.profile-section {
  padding: 5%;
  min-width: 100%;
  background-color: #e5ecf1;
}

#generated-text {
  font-size: xxx-large;
  font-family: 'Vollkorn', serif;
  color: #455F73;
  width:100%;
  text-align: justify;
}

.tech-stack-headers {
  font-size: small;
  text-decoration: rgba(162, 201, 209, 0.42);
  font-weight: bold;
  margin-bottom: 50px;
}

.profile-card {
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.profile-header {
  display: flex;
  justify-content: center;
  min-height: 350px;
  padding-bottom: 5%;
  border-radius: 20px 20px 0px 0px;
  padding: 0;
}

.intro-point {
  padding: 4px;
}

.card-body {
  border-radius: 20px 20px 0px 0px;
}


#root > div > div.profile-section.container > div > div.col-sm-4 > div > div.profile-header.card-header > div > div {
  min-width: 250px;
  min-height: 250px;
}
.profile-img-wrapper {
  height: 250px;
  width: 250px;
  background-color:  rgb(243 243 237 / 10%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 50%;
  position: absolute;
  margin: 30px auto 20px  auto;
  left: 0;
  right: 0;
  margin-bottom: 9%;
}

.icon {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.profile-img{
  width: 215px;
  height: 215px;
  border-radius: 50%;
  margin-left: 7%;
  margin-top: 7%;
}

.side-col {
  min-width: 12%;
}

.divider
{
	position: relative;
	margin-top: 45px;
	margin-bottom: 30px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, #ffffff, transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: #BCC5CC;
	border-bottom: 1px solid rgb(255, 255, 255);
	border-right: 1px solid rgb(255, 255, 255);
}

#root > div > div.project-card-reverse.container > div > div.col-sm-4 > div > div.card-body > div > div:nth-child(2) > span.tech-stack > div:nth-child(2) > div:nth-child(2) > span {
  margin-top: 4px;
}

#root > div > div.project-card.container > div, #root > div > div.project-card-reverse.container > div {
  justify-content: center;
}

#root > div > div.project-card.container > div.row {
  min-width: 100%;
}

#root > div > div.profile-section.container > div > div.col-sm-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-section {
  width: 90px;
  height: 40px;
  background-color: black;
  color: white;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

.card {
  backdrop-filter: blur(4px) saturate(50%);
  -webkit-backdrop-filter: blur(4px) saturate(50%);
  background-color:  #455F73;
  height: 100%;
  width: 100%;
  border: none;
}
.card-header {
  border-radius: 20px 20px 0px 0px;
}

.card-title {
  background-color: none;
  background: none;
  opacity: 100%;
  border-radius: 20px 20px 0px 0px;
}

.wrapper {
  min-width: 100%;
  min-height: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}


.text-col {
  padding-left: 70px;
  display: flex;
  align-items: center;
}

.icon-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  color: #FEFEFC;
}


.row-tech-icon {
  display: inline-flex;
  justify-content: center;
  justify-self: center;
  flex-wrap: nowrap;
  text-align: center;
}

.col-tech-icon {
  text-align: center;
}


.from-right, .from-left {		
	position: relative;	
	padding: 1.4rem 4.2rem;
	font-size: 1.4rem;
	color: var(--inv);
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1; 
}

.btn:hover {
	color: var(--def);
	transition-delay: 0s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .35s;
}


.bg-dark {
  background-color: #fff!important;
}
/* .card-text {
  border: 1px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  height: 220px;
  overflow: hidden;
  position: relative;
  width: 370px;
}

.card-text::before {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
} */
#root > div > nav > div {
  justify-content: end;
  margin-right: 0;
}

.lo-div {
  margin: 0px;
}


.fill-space {
  min-width: 40%;
}

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}

/* From Right */

.from-right:before, 
.from-right:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-right:before {
	left: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-right:after {
	right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
	width: 100%;
}

.from-right, .from-left {
  margin-top: 10px;
  position:relative; 
}




a { color: inherit;
    text-decoration: none; } 

.intro-span {
  background-color: rgba(233, 233, 227, 0.877);
}

.repo-btn {
  width: 100%;
  margin-top: 5px;
  padding: 0;
  background-color: transparent;

}

#root > div > div.project-card.container > div > div.col-sm-4 > div > div.card-body > div > div:nth-child(1) {
  min-height: 160px;
}
.link-span  {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}


.resume-row {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10%;
}

.card-header {
  font-weight: bold;
  background-color: #BCC5CC;
}

.card {
  border-radius: 20px 20px 0px 0px;
}

.profile-header {
  border-radius: 20px 20px 0px 0px;
}

.card-img {
  border-radius: 20px 20px 0px 0px;
}

.middle-resume-col {
  display: flex;
  justify-content: center;
  width: 100%;
}

.resume-container {
  background-color: #8B9AA6;
  margin: 0px 0px 0px 0px;
  min-width: 100%;
}

#full-name {
  font-size: xx-large;
  padding-top: 200px;
  font-weight: bold;
  font-family: 'Vollkorn', serif;
  color: #455F73;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #BCC5CC;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #455F73; 
}
::-webkit-scrollbar-thumb:active {
  background: #455F73; 
}



::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 56px;
}


.resume-download {
  position: relative;
  background-color: #455F73;
  color: #e5ecf1;
  border: none;
  width: 12em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume-download:hover {
  background-color: #e5ecf1;
  border-color: #455F73;
  color: #455F73;
}

.resume-download:click {
  background-color: #e5ecf1;
  border-color: #455F73;
  color: #455F73;
}

.resume-download:active {
  background-color: #e5ecf1;
  border-color: #455F73;
  color: #455F73;
}

.resume-download:focus {
  background-color: #e5ecf1;
  border-color: #455F73;
  color: #455F73;
  box-shadow: 0 0 0 0.25rem #455f73;
}